<main class="text-xs w-full">
  <!-- <img src="assets/bg_1.png" alt="">
  <img src="assets/logo.png" alt="">

  <img src="assets/phone_24px.png" alt="" />
  <img src="assets/email_24px.png" alt=""-->

  <div class="flex justify-between">
    <div>img</div>
    <div>
      <ul class="flex gap-x-2">
        <li>Quienes somos</li>
        <li>Abogados</li>
        <li>Areas de practica</li>
        <li>Contacto</li>
      </ul>
    </div>
  </div>
  <div class="flex w-full justify-between">
    <div class="flex flex-col items-start justify-center text-center">
      <div>
        <h2>lopez y abogados</h2>
        <p>tu solucion, asesoria juridica</p>
      </div>
      <div>
        <p>
          Somos una Comunidad de Abogados en barranquilla colombia promoviendo
          el Acceso a la Justicia a través de la Innovación y la Tecnología.
        </p>
        <button (click)="hello()" class="bg-blue-200 rounded">ver mas</button>
      </div>
    </div>
    <div>
      <img
        src="assets/face_placeholder.png"
        width="200"
        height="100"
        alt="lawyer"
      />
    </div>
  </div>

  <p>Soluciones en asesoria juridica</p>
  <div></div>
</main>
